/.bundle
/db/*.sqlite3
/db/*.sqlite3-journal
/log/*.log
/tmp
*~
db/schema.rb
config/database.yml
log/*
tmp/cache/*
tmp/uploads/*
tmp/sass-cache/*
system/*
*.xcf
*.swp
.DS_Store
*.DS_Store
tmp/restart.txt
public/system/*
public/images/*
public/system/*
public/assets/*
config.ru
private/pymclevel/*