development:
  plugin:
    authenticity_token: 5ea8fe90543e0134e0da7831c1ccba80

test:
  plugin:
    authenticity_token: 5ea8fe90543e0134e0da7831c1ccba80

production:
  plugin:
    authenticity_token: 5ea8fe90543e0134e0da7831c1ccba80
