html, body {
  padding-bottom: 25px;
  background-image: image-url("square_bg.png")
}

.site-logo-link {
  &:hover {
    text-decoration: none;
  }
}

.lobster {
  font-family: 'Lobster', cursive;
}

.top-bar {
  border-bottom: 2px solid #DDDDDD;
  padding: 15px 15px 10px 15px;
  margin-bottom: 25px;
  background: white;

  .title {
    font-size: 28px;
    color: #0074D9;
  }

  ul {
    padding-top: 5px;
  }
}

.small-character-avatar {
  width: 28px;
}

.block-icon {
  max-height: 28px;
  max-width: 28px;
}

.schematic-card {
  margin-bottom: 30px;
  border: 1px solid #AAAAAA;
  background: white;

  .card-info {
    padding: 5px;
  }
}


.schematic-view {
  .white-stripe {
    background: white;
    padding-top: 30px;
    padding-bottom: 20px;
  }
}



// Strike CSS for HRs with Labels

.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    margin: 20px 0;
}

.strike > span {
    position: relative;
    display: inline-block;
    color: #ccc;
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: #eeeeee;
}

.strike > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike > span:after {
    left: 100%;
    margin-left: 15px;
}
