html, body {
  padding-bottom: 25px;
  background: #2a3139;
  color: white;
}

hr {
  border-top: 1px solid #ddd;
}

.schematic-download-question-mark {
  font-size: 22px;
  margin-left: -15px;
}

// https://github.com/kenwheeler/slick/issues/771
.slick-slide { height: auto; }

textarea {
  resize: vertical; /* user can resize vertically, but width is fixed */
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background: #fa5252;
}

.no-margin {
  margin: 0;
}

.character-management-table {
  .small-character-avatar, .switch-control {
    margin-top: 8px;
  }

  .picked-character {
    color: #40c057;
    font-size: 22px;
  }
}


/* Sticky footer styles
https://getbootstrap.com/examples/sticky-footer/
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;

  ul {
    list-style-type: none;
  }
}

.pagination-wrapper {
  background: #495057;
  margin: 45px 0 20px 0;
}


a {
  color: #fa5252;

  &:hover {
    color: #fa5252;
  }
}

.giant-fa-icon {
  font-size: 80px;
}

.semi-gray-scale {
  -webkit-filter: grayscale(40%); /* Chrome, Safari, Opera */
  filter: grayscale(40%);
}

.white-background {
  background: white;
}

.rounded {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; /* future proofing */
  -khtml-border-radius: 5px; /* for old Konqueror browsers */
}

.squared-stripe {
  background-image: image-url("square_bg.png");
  color: #495057;
  padding: 45px 0;
  margin: 45px 0;
}

.schematic-preview-card {
  img {
    margin: 0 auto;
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
  }

  img:hover {
    -webkit-filter: grayscale(50%); /* Chrome, Safari, Opera */
    filter: grayscale(50%);

    -webkit-transition: -webkit-filter 1s, filter 1s;
    transition: -webkit-filter 1s, filter 1s;
  }
}

.site-logo-link {
  &:hover {
    text-decoration: none;
  }
}

.light-background {
  background: #e9ecef;
  color: #495057;
}

.top-bar {
  padding: 15px 15px 10px 15px;
  margin-bottom: 25px;

  color: white;

  a {
    color: white;
  }

  .title {
    font-size: 28px;
  }

  ul {
    padding-top: 5px;
  }
}

.lobster {
  font-family: 'Pacifico', cursive;
}

.small-character-avatar {
  width: 28px;

  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; /* future proofing */
  -khtml-border-radius: 3px; /* for old Konqueror browsers */
}

.block-icon {
  max-height: 28px;
  max-width: 28px;
}

.schematic-card {
  margin-bottom: 30px;
  border: 1px solid #AAAAAA;
  background: white;

  .card-info {
    padding: 5px;
  }
}



.schematic-stripe {
  padding: 30px;

  .schematic-view {
    .schematic-sidebar {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }
}



// Strike CSS for HRs with Labels

.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    margin: 20px 0;
}

.strike > span {
    position: relative;
    display: inline-block;
    color: #868e96;
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: #ddd;
}

.strike > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike > span:after {
    left: 100%;
    margin-left: 15px;
}





.slick-dots li button:before
{
    color: white;
}
.slick-dots li.slick-active button:before
{
    color: white;
}










#canvas-image {
  display: block;
  width: 100%;
  height: 75vh;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-position-y: 25%;
  background-repeat: no-repeat;
  background-position: center;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.canvas-overlay {
  display: block;
  position: absolute;
  width: 100%;
  height: 75vh;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  color: white;

  a {
    color: white;
  }

  .slogan-text {
    margin-top: 150px;
  }

  .top-bar {
    padding: 15px 15px 10px 15px;
    margin-bottom: 25px;

    .title {
      font-size: 28px;
    }

    ul {
      padding-top: 5px;
    }
  }
}
