html, body {
  padding-bottom: 25px;
}

.lobster {
  font-family: 'Lobster', cursive;
}

.top-bar {
  border-bottom: 2px solid #AAAAAA;
  padding: 15px 15px 10px 15px;
  margin-bottom: 25px;

  .title {
    font-size: 28px;
    color: #0074D9;
  }

  ul {
    padding-top: 5px;
  }
}

.schematic-card {
  margin-bottom: 15px;
}
