%ul.nav.nav-pills.nav-stacked
  %li{role: "presentation", class: (current_page?(edit_user_registration_path) ? "active" : "")}
    = link_to 'Account', edit_user_registration_path
  %li{role: "presentation", class: (current_page?(user_character_claims_path) ? "active" : "")}
    = link_to 'Characters', user_character_claims_path
  %li{role: "presentation", class: (current_page?(user_servers_path) ? "active" : "")}
    = link_to 'Servers', user_servers_path
%br
%br
