.container
  .row
    .col-xs-12.col-sm-3
      = render partial: "user/shared/menu"
    .col-xs-12.col-sm-9
      .well.well-lg.light-background
        %h2 Edit #{@server.name}
        %p Read the #{link_to('Server Setup Guide', server_setup_path, target: '_blank')} for full instructions.
        %br
        = render partial: 'form', locals: {server: @server}
