.container
  .row
    .col-xs-12.col-sm-3
      = render partial: "user/shared/menu"
    .col-xs-12.col-sm-9
      .well.well-lg.light-background
        %ol.breadcrumb
          %li= link_to "Servers", user_servers_path
          %li.active Join the CanaryClip Minecraft Server Network
        %h2 Join the CanaryClip Minecraft Server Network
        %p Read the #{link_to('Server Setup Guide', server_setup_path, target: '_blank')} for full instructions.
        %br
        = render partial: 'form', locals: {server: @server}
